<div class="panel-group" data-allow-multiple="true" role="tablist"
     aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab">
            <h1 class="panel-title">
            <span style="cursor:pointer" data-toggle="collapse" data-target="#fullIndexPanel"
                  ng-click="collapsed = !collapsed">
                <span class="glyphicon"
                      ng-class="{'glyphicon-chevron-right': !collapsed, 'glyphicon-chevron-down': collapsed}"></span>
                    Generate Report
            </span>
            </h1>
        </div>
        <div id="fullIndexPanel" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <form id="reports-form" name="reports-form" class="form-horizontal" action="#" method="post"
                      enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="reportType" class="col-sm-4">Report Type</label>
                        <div class="col-sm-4">
                            <select id="reportType"
                                    class="form-control"
                                    ng-model="reportRequest.reportType">
                                <option value="SolrIndexException">SolrIndexException</option>
                                <option value="Summary">Summary</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="createdDate" class="col-sm-4">Date</label>

                        <div class="col-sm-4">

                            <p class="input-group">
                                <input id="createdDate" name="createdDate" type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}" ng-model="reportRequest.createdDate"
                                       is-open="createdDateFromPopup.opened" datepicker-options="dateOptions"/>
                                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openCreatedDateFrom()">
                                <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                            </p>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4"></label>
                        <div class="col-sm-4">

                            <button id="report" name="report" class="btn btn-primary"
                                    type="button" ng-click="generateReport();" ng-disabled="running">Generate Report
                            </button>
                        </div>
                    </div>

                    <br/><br/><br/>
                    <div class="form-group col-sm-12">
                                                        <textarea class="form-control" id="reportStatus" rows="5"
                                                                  placeholder="Report Status"
                                                                  readonly="true"></textarea>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div>
        <modal id="messageDialogId" title="{{title}}" visible="showDialog">
            <div>
                <span id="message">{{message}}</span>
            </div>
        </modal>
    </div>
</div>

